{% extends "base.html" %}
{% block title %}About Yummy Savior{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Yummy Savior</h3>
    <h5 align="center">What is Yummy Savior?</h5>
    <h6 align="center">
        Yummy Savior is a web-based platform for restaurants to donate foods and for 
        non-profit organizations to distribute foods to people in need. 
        The platform offers tools to help restaurants to gain insights into their food wastage. 
        Yummy Savior is not only a web-based service, it’s a movement. 
        At the heart of Yummy Savior, our mission is to promote responsible consumption and production. 
        Our vision is to help build a circular economy at large. 
    </h6>
</form>
{% endblock %}


