{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/backgroundcolor.css">
<h1>Welcome to Yummy Saviour, {{ businessname }}!</h1>
<h2>Restaurant</h2>
<style>
    .dropbtn {
      background-color: #002aff98;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #121b49;
    }
    </style>
    </head>
    <body>

    <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
      <a href="#">Add items</a>
      <a href="#">View all items</a>
      <a href="#">Delete items</a>
      </div>
      <div>
      <br><br>
      <label for="add">Add:</label>
      <input type="add" id="add" name="add" value="Add" placeholder="Add an item"><br><br>
      <br><br>
      <label for="Update">Update:</label>
      <input type="update" id="update" name="update" value="Update" placeholder="Update an item"><br><br>
      <br><br>
      <label for="delete">Delete:</label>
      <input type="delete" id="delete" name="delete"  value="Delete" placeholder="Delete an item"><br><br>
      </div>
      </body>
      </html>

<form action="{{ url_for('auth.logout') }}" method="POST">
    <br><br>
    <input type="submit" value="Logout">
</form>

<h1>Foods</h1>
    {% for food in foods %}
      <p>{{food.foods}}</p>
{% endblock %}