{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<h1>Sign up</h1>
<form method="POST">
    <label for="name">Username</label>
    <input type="text" id='username' name='username' placeholder="enter username" required><br><br>
    <label for="password">Password</label>
    <input type="password" id='password' name='password' placeholder="enter password" required><br><br>
    <label for="confirm">Confirm password</label>
    <input type="password" id='confirm' name='confirm' placeholder="confirm password" required><br><br>
    <label for="business name">Business Name</label>
    <input type="business name" id='enter business name' name='enter business name' placeholder="enter your business name" required><br><br>
    <label for="location">Location</label>
    <input type="location" id='location' name='location' placeholder="enter your location" required><br><br>
    <label for="restaurant_select">restaurant</label>
    <input type="radio" name="org_type" id="npo_select" value='organization'>
    <label for="npo_select">NPO</label><br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}