{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/backgroundcolor.css">
<style>


    .submitbtn {
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: auto;
      padding: 10px 18px;
      background-color: green;
    }

    /* Center the image */
    .imgcontainer {
      text-align: center;
        margin: 10px;
      position: relative;
    }

    img.user {
      width: 20%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;

    </style>

<h1>Sign Up</h1>
<p>Please fill in this form to create an account.</p>
<form method="POST">
    <body>
    <div class="imgcontainer">
    <img src="../static/user2.png" width="150" height="150" alt=""/> </div>
    <label for="name">Username</label>
    <input type="text" id='username' name='username' placeholder="Enter username"><br><br>
    <label for="password">Password</label>
    <input type="password" id='password1' name='password' placeholder="Enter password"><br><br>
    <lable for="confirm">Confirm password</lable>
    <input type="password" id='password2' name='confirm' placeholder="Confirm password"><br><br>
    <label for="business name">Business Name</label>
    <input type="businessname" id='businessname' name='businessname' placeholder="enter your business name" required><br><br>
    <label for="location">Location</label>
    <input type="location" id='location' name='location' placeholder="enter your location" required><br><br>
    <input type="radio" name="user_type" id="restaurant_select" value='restaurant' checked>
    <label for="restaurant_select">Restaurant</label><br>
    <input type="radio" name="user_type" id="npo_select" value='npo'>
    <label for="npo_select">NPO</label><br><br>
    <div class="container" style="background-color:rgb(179, 222, 248">
    <input type="submit" value="Submit" class="submitbtn">
  </div>
</body>
</form>
{% endblock %}