#content-container {
    position: absolute;
    height: calc(100vh - 54.6px);
    width: 100%;
    overflow: hidden;
    background-color: cadetblue;
}

#content-container > #logo-container {
    width: 100%;
}

#content-container > #logo-container > img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: auto;
    padding: 40px 0 0 0;
    transform: translateX(20px);
}

#login-container {
    margin: 60px auto 0 auto;
    max-width: 20rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.51);
}

#login-heading {
    padding: 0.25rem 0 2rem 0;
    margin: 0 auto;
}

.nav-btn {
    margin: 0 1rem 0 0;
}

#nav-logo {
    position: absolute;
    right: 0;
}

#nav-logo > img {
    padding-right: 10px;
    height: 45px;
    width: auto;
}

#register > input {
    display: block;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
