#content-container {
    position: absolute;
    height: calc(100vh - 54.6px);
    width: 100%;
    background-color: cadetblue;
}

#login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.51);
}

#login-heading {
    padding: 0.25rem 0 2rem 0;
    margin: 0 auto;
}

.nav-btn {
    margin: 0 1rem 0 0;
}

#nav-logo {
    position: absolute;
    right: 0;
}

#nav-logo > img {
    padding-right: 10px;
    height: 45px;
    width: auto;
}